.Home_css_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    height: 100%;
}

.Home_css_parent_container{
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: column;
    gap: 50px;
}